<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="EMF Profiles"
            id="org.modelversioning.emfprofile">
      </category>
      <view
            name="Registered EMF Profiles"
            icon="icons/profile.png"
            category="org.modelversioning.emfprofile"
            class="org.modelversioning.emfprofile.registry.ui.views.RegisteredProfilesView"
            id="org.modelversioning.emfprofile.registry.ui.views.RegisteredProfilesView">
      </view>
   </extension>

</plugin>
