<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.modelversioning.emfprofile.project.registeringbuilder"
         name="EMF Profile Project Registering"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.modelversioning.emfprofile.project.EMFProfileProjectRegisteringBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.modelversioning.emfprofile.project.nature"
         name="EMF Profile Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.modelversioning.emfprofile.project.EMFProfileProjectNature">
         </run>
      </runtime>
      <builder
            id="org.modelversioning.emfprofile.project.registeringbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.modelversioning.emfprofile.project.contribution1">
         <action
               class="org.modelversioning.emfprofile.project.ToggleNatureAction"
               enablesFor="+"
               icon="icons/profile.png"
               id="org.modelversioning.emfprofile.project.addRemoveNatureAction"
               label="Add/Remove EMF Profile Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/profile.png"
            id="org.modelversioning.emfprofile.project.image"
            natureId="org.modelversioning.emfprofile.project.nature">
      </image>
   </extension>

</plugin>
