<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      
      <objectContribution
            adaptable="false"
            id="org.modelversioning.emfprofile.ui.applymenu.gmf.editpart"
            objectClass="org.eclipse.gef.EditPart">
         <menu
               id="org.modelversioning.emfprofile.ui.emfProfilesMenu"
               label="EMF Profiles"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="org.modelversioning.emfprofile.ui.actions.ApplyProfileAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.applyProfile"
               label="Apply Profile"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.LoadProfileApplicationAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.importProfileAction"
               label="Load Profile Application"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.UnloadProfileApplicationAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.unloadProfileaction"
               label="Unload Profile Application"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.ApplyStereotypeAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.applyStereotypeAction"
               label="Apply Stereotype"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.modelversioning.emfprofile.ui.applymenu.eobject"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="org.modelversioning.emfprofile.ui.emfProfilesMenu"
               label="EMF Profiles"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="org.modelversioning.emfprofile.ui.actions.ApplyProfileAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.applyProfile"
               label="Apply Profile"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.LoadProfileApplicationAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.importProfileAction"
               label="Load Profile Application"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.UnloadProfileApplicationAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.unloadProfileaction"
               label="Unload Profile Application"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
         <action
               class="org.modelversioning.emfprofile.ui.actions.ApplyStereotypeAction"
               enablesFor="1"
               id="org.modelversioning.emfprofile.ui.applyStereotypeAction"
               label="Apply Stereotype"
               menubarPath="org.modelversioning.emfprofile.ui.emfProfilesMenu/group1">
         </action>
      </objectContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.modelversioning.emfprofile"
            class="org.modelversioning.emfprofile.ui.views.ProfileApplicationsView"
            icon="icons/sample.gif"
            id="org.modelversioning.emfprofile.ui.views.ProfileApplicationsView"
            name="Profile Applications">
      </view>
   </extension>
   <extension
         id="org.modelversioning.emfprofiles.gmfprofiledecorator"
         name="gmfprofiledecorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
               class="org.modelversioning.emfprofile.ui.gmfdecorator.GMFProfileDecoratorProvider">
         <Priority
               name="High">
         </Priority>
      </decoratorProvider>
   </extension>

</plugin>
